erid>$userid$</userid>
<accesstoken>$accesstoken$</accesstoken>
<formid>$formid$</formid>
<lastsubmittime>$lastsubmittime$</lastsubmittime>
<endrecordtime>$endrecordtime$</endrecordtime>
<startrecordtime>$startrecordtime$</startrecordtime>
<version>$version$</version>
<uuid>$uuid$</uuid>
<geotag>
  <longitude>$longitude$</longitude>
  <latitude>$latitude$</latitude>
</geotag>
</meta>
<data>
<What_is_your_favorite_number>$What_is_your_favorite_number$</What_is_your_favorite_number>
// <dd:subform xmlns:dd="http://datadyne.org/javarosa">
// </dd:subform>
<Type_something>$Type_something$</Type_something>
</data>
</form
