<dd:subform xmlns:dd="http://datadyne.org/javarosa">
<meta>
<formid>$formid$</formid>
<question>$question$</question>
</meta>
<data>
<uuid>$uuid$</uuid>
<What_is_a_food_that_you_do_not>$What_is_a_food_that_you_do_not$</What_is_a_food_that_you_do_not>
</data>
</dd:subform>
