<?xml version="1.0" encoding="UTF-8"?>
<form>
<meta>
<userid>$userid$</userid>
<accesstoken>$accesstoken$</accesstoken>
<formid>$formid$</formid>
<lastsubmittime>$lastsubmittime$</lastsubmittime>
<endrecordtime>$endrecordtime$</endrecordtime>
<startrecordtime>$startrecordtime$</startrecordtime>
<version>$version$</version>
<uuid>$uuid$</uuid>
<geotag>
  <longitude>$longitude$</longitude>
  <latitude>$latitude$</latitude>
</geotag>
</meta>
<data>
<prompt__1359549345113>$prompt__1359549345113$</prompt__1359549345113>
<Radio>$Radio$</Radio>
<score_one>$score_one$</score_one>
<score_two>$score_two$</score_two>
<score_three>$score_three$</score_three>
<prompt__1359549443639>$prompt__1359549443639$</prompt__1359549443639>
</data>
</form>
