<nz_redcross_1a_people id="nz-redcross-1a-people" version="3">$nz_redcross_1a_people$
<intro_note>$intro_note$
</intro_note>
<village_name>$village_name$
</village_name>
<household_head>$household_head$
</household_head>
<household_population>$household_population$
<adult_male>$adult_male$
</adult_male>
<adult_female>$adult_female$
</adult_female>
<child_01>$child_01$
</child_01>
<child_02>$child_02$
</child_02>
<baby_01>$baby_01$
</baby_01>
<total_population>$total_population$
</total_population>
</household_population>
<household_casualties>$household_casualties$
<dead>$dead$
</dead>
<injured>$injured$
</injured>
<missing>$missing$
</missing>
<special_needs>$special_needs$
</special_needs>
</household_casualties>
<household>$household$
<damaged_house>$damaged_house$
</damaged_house>
<damage_details>$damage_details$
</damage_details>
<usable_kitchen>$usable_kitchen$
</usable_kitchen>
<household_location>$household_location$
</household_location>
<household_photo>$household_photo$
</household_photo>
</household>
<start>$start$
</start>
<end>$end$
</end>
<deviceid>$deviceid$
</deviceid>
<meta>$meta$
<instanceID>$instanceID$
</instanceID>
</meta>
</nz_redcross_1a_people>
